.logo-2 {
    width: 80px;
    position: fixed;
    top: 2%;
    left: 2%;
}

.header {
    margin: 0;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1496568816309-51d7c20e3b21?dpr=1&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-content {
    margin: 0;
    padding: 0;
    width: 70vw;
}

.results-align {
    margin:0;
    padding:0;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-bar {
    width: 5%;
    height: 2px;
    background-color: #C5F018;
}

.results-txt {
    margin: 0;
    padding: 0 10px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20pt;
    line-height: 16pt;
    color: #FFFFFF;
}

.header-city {
    margin: 0;
    padding: 2% 0 0 0;
    font-family: Raleway;
    font-weight: 600;
    font-size: 80pt;
    line-height: 80pt;
    text-transform: capitalize;
    color: white;
    text-align: center;
}

.result-card {
    margin: 2% auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-height: 320px;
    background-color: white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, .2);
    transition-duration: .3s;
}

/* .result-card:hover {
    margin: 2% auto;
    padding: 0;
    width: 82vw;
    height: 340px;
    max-height: 340px;
    background-color: white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, .2);
}

.result-card:hover #img-div{
    height: 340px;
    transition-duration: .2s;
} */

#img-div{
    margin: 0;
    padding: 0;
    width:30%;
    height: 320px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
}

.content-div{
    margin: 0;
    padding: 0 0 0 4%;
    width: 70%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    border-left: 8px solid #C5F018;
}

.content-align{
    margin: auto 0;
    padding: 2%;
    width: 75%;
    transition-duration: .5s;
}

.center-content{
    margin: 0;
    padding: 0;
    transition-duration: .5s;
}

.name {
    margin: 0;
    padding: 0;
    font-family: Oswald;
    font-weight: 400;
    font-size: 24pt;
    line-height: 24pt;
    color: #292929;
}

.address {
    margin: 12px 0 0 0;
    padding: 0;
    font-family: Raleway;
    font-weight: 400;
    font-size: 11pt;
    line-height: 11pt;
    color: #B3B3B3;
}

.right-content-box{
    margin:0;
    padding: 0;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.open {
    margin: 20px 30px 0 0;
    padding: 10px 15px;
    font-family: Raleway;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    color: white;
    height: 16px;
    text-align: center;
    width: 80px;
    background-color: #46EC6C;
    border-radius: 18px;
    text-transform: capitalize;
    box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, .4)
}

.closed {
    margin: 20px 30px 0 0;
    padding: 10px 15px;
    font-family: Raleway;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    color: #FFA2A2;
    height: 16px;
    text-align: center;
    width: 80px;
    background-color: white;
    border: 1px solid #FFA2A2;
    border-radius: 18px;
    text-transform: capitalize;
    
}

.unavailable {
    margin: 20px 30px 0 0;
    padding: 10px 15px;
    font-family: Raleway;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    color: #C7C7C7;
    height: 16px;
    text-align: center;
    width: 80px;
    background-color: #FAFAFA;
    border: 1px solid #DFDFDF;
    border-radius: 18px;
    text-transform: capitalize;
    
}

.divider {
    margin: 36px 0;
    padding: 0;
    height: 1px;
    width: 20%;
    background-color: #BABABA;
}

.stars{
    margin: 0 0 0 15px;
    padding: 0;
    height: 15px;
}

.money{
    margin: 0 0 0 15px;
    padding: 0;
    height: 15px;
}

.spacing{
    margin: 0;
    padding: 6px 0;
}

.info-align {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.info {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    color: #C7C7C7;
}

.directions-btn {
    margin: 38px 0 0 0;
    padding: 15px 20px;
    border: 1px solid #C7C7C7;
    text-align: center;
    width: 110px;
}

.directions-btn:hover {
    border: none;
    background-color: #C5F018;
    border: 1px solid #C5F018;    
    cursor: pointer;
    transition-duration: .2s;
}

.directions-btn:hover .button-txt{
    color: #292929;
}

.button-txt {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    color: #C7C7C7
}

.show {
    margin: 0 0px 20px 0;
    padding: 10px 5px 10px 15px;
    height: 32px;
    width: 90px;
    border-radius: 26px 0 0 26px;
    border: 1px solid #E9E9E9;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    z-index: 998;
}

.show:hover {
    border: 1px solid #C5F018;
    border-right: none;
}


.arrow {
    height: 15px;
}

.view-map{
    margin-left: 10px;
    font-family: Raleway;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    color: #C7C7C7;
    text-align: center;
}

.hide {
    margin: 0 0px 20px 0;
    padding: 10px 5px 10px 15px;
    height: 32px;
    width: 90px;
    border-radius: 26px 0 0 26px;
    border: 1px solid #E9E9E9;
    border-right: none;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    z-index: 998;
}

.hide:hover {
    border: 1px solid #C5F018;
    border-right: none;
}

.arrow2 {
    height: 15px;
}

.view-map2{
    margin-right: 10px;
    font-family: Raleway;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    color: #C7C7C7;
    text-align: center;
}

.expanding {
    margin: 0;
    padding: 0;
    width: 0px;
    background-color: #F5F5F5;
    transition-duration: .5s;
    box-shadow: -6px 0px 18px -6px rgba(0, 0, 0, .2)
}

.view-map-btn {
    cursor: pointer;
}
.view-map-btn2 {
    cursor: pointer;
}

.map { 
    margin: 0;
    padding: 0;
    position:absolute;
    transition-duration: .5s;
}

.map-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;
}

#map {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 10%;
    right: 10%;
    background-color: #F5F5F5;
  }

  #instructions {
position: absolute;
margin: 20px;
width: 25%;
top: 15%;
bottom: 15%;
left: 10%;
padding: 20px;
background-color: rgba(255, 255, 255, 0.9);
overflow-y: scroll;
font-family: sans-serif;
}

.x {
    position: fixed;
    right: 8%;
    top: 15%;
    z-index: 1000;
    width: 25px;
    height: 25px;
    display: none;
    cursor: pointer;
}

p {
    font-family: Raleway;
    font-weight: 200;
    font-size: 14pt;
    line-height: 20pt;
    color: #4A4A4A
}





.fade {
    animation: fadein .6s;
    -moz-animation: fadein .6s; /* Firefox */
    -webkit-animation: fadein .6s; /* Safari and Chrome */
    -o-animation: fadein .6s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
