<div ng-controller="homeCtrl">
<img class="logo" src="./images/logo.svg" alt="">
<div id="background">
    <div class="align">
        <form class="form" autocomplete="off" action="" ng-submit="getLocation({searchTerm: searchTerm})">
            <input id="main-input" ng-model="searchTerm" class='search' type="text" placeholder="Search City, State.">
        </form>
                <img ng-click="getLocation({searchTerm: searchTerm})" id="icon" src="./images/search.svg" alt="">
    </div>
</div>
</div>