<div ng-controller="resultsCtrl">
<div class="card-bg">
    <div class="card-img"></div>
    <h1>{{ result.name }}</h1>
</div>



<!-- Array(1)
0
:
height
:
1536
html_attributions
:
["<a href="https://maps.google.com/maps/contrib/109348250905613201347/photos">Bradley Linnell</a>"]
photo_reference
:
"CmRaAAAAl6szK_Bu2YP8g2oIEl8ZFPqc8MNnR-1Eagxsqqf1MiUcYoVCPEbLpV341sD03TZzZmcUVM5KATDs-RGKCE9gdv6fy6ctqFBAlo9ntmQs0lSzRW0B3aienpciBvZEQyDmEhBLscdFnn9CcLBRYNHS2VogGhTX4e1w_bUkC0Rn56JI9LGDbsQgUg"
width
:
2560
__proto__
:
Object -->