<img id="tray-out" ng-click="openNav()" class="tray-out" src="/images/trayout.svg" alt="">
<img id="tray-in" ng-click="closeNav()" class="tray-in" src="/images/trayin.svg" alt="">

<div id="tray-bg" class="tray-bg">
        <h2 ui-sref="home" class="nav-item">HOME</h2>
        <h2 ng-click="showAbout()" class="nav-item">ABOUT</h2>
</div>
    <div id="blurb-bg" class="blurb-bg">
        <p id="about-blurb" class="about-blurb">Downtown Eats is a site that's designed to help you find your new favorite local downtown restaurant. 
        Search the city you're in or any city that you're headed to and we will pull up the best results for local restaurants 
        near the downtown square. View the quick map to see the location pin, or press "Get Directions" and we will provide step 
        by step directions from your current location.</p>
    </div>
        